/* Общие стили */
body {
    font-family: 'Exo 2', sans-serif;
    margin: 0;
    padding: 0;
  }
  /* Шапка */
  header {
    background-color: #ffffff;
    color: #000000;
    padding: 10px 0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 99999;
  }
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  .logo img {
    height: 70px;
  }
  nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 16px;
  }
  nav li {
    margin-right: 10px;
  }
  nav a {
    font-weight: 400;
    position: relative;
    color: #000000; /*задаём цвет ссылки*/
    cursor: pointer;
    line-height: 1; /*задаём высоту строки*/
    text-decoration: none; /*убираем подчёркивание*/
  }
  nav a::after{
  	display: block;
	position: absolute;
	left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
	width: 0;/*задаём длинну линии до наведения курсора*/
	height: 2px; /*задаём ширину линии*/
	background-color: #970010; /*задаём цвет линии*/
	content: "";
	transition: width 0.3s ease-out; /*задаём время анимации*/
  }
  nav a:hover:after,
  nav a:focus:after {
	width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}
  .personal-area{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
  .nav-select {
    font-size: 16px;
    padding: 2px 5px;
    border: none;
    font-family: inherit;
  }
  
  
  .dropdown-nav::before {
    content: "";
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1000;
    width: 6px;
    height: 6px;
    border: 1px solid #000;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: rotate(-45deg);
    transition: 0.5s;
    pointer-events: none;
  }
  
  .dropdown-nav .active::before {
    top: 10px;
    transform: rotate(-225deg);
  }
  
  .dropdown-nav input {
    position: relative;
    width: 140px;
    cursor: pointer;
    background: #ffffff;
    font-size: 16px;
    border: none;
    outline: none;
  }
  
  .dropdown-nav .options {
    position: absolute;
    top: 40px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: none;
  }
  
  .dropdown-nav.active .options {
    display: block;
  }
  
  
  .dropdown-nav .options div {
    padding: 12px 20px;
    cursor: pointer;
  }
  
  .dropdown-nav .options div:hover {
    background: #970010;
    color: #fff;
  }
  .personal-area a {
    color: #000000;
    text-decoration: none;
    font-weight: 400;
  }
  .social-icon_1{
  width: 100px;
  margin-right: 25px;
  }
  .social-icon_2,
  .social-icon_3,
  .social-icon_4{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
  }
  
  
  /* Герой */
  .hero-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
  }
  .hero-main-content {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    padding: 20px 80px 40px 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  }
  .hero-title {
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 700;
    color: #000000;
    width: 832px;
    font-weight: 700;
  }
  .hero-description{
    font-family: 'Exo 2', sans-serif;
    font-size: 30px;
    width: 788px;
    font-weight: 500;
    color: #000000;
  }
  .title-span{
  color: #970010;
  }
  /*.hero-content-block {
    height: 700px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }*/
  .hero-content-block{
    background-image: url(img/Плашка.png);
    background-repeat: no-repeat;
    width: 100%;
  }
  
  .cta-buttons {
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .cta-button_1 {
    background: #ffffff;
    font-weight: 500;
    color: black;
    text-align: center;
    text-decoration: none;
    border: 2px solid #970010;
    border-radius: 15px;
    font-size: 18px;
    line-height: 40px;
    padding: 12px 20px;
    display: inline-block;
    transform: skew(-15deg);
  }
  
  /*.cta-button {
    display:inline-block;
    vertical-align:top;
    padding:0 20px;
    height:60px;
    color:#fff;
    text-decoration:none;
    font-size:18px;
    line-height:60px;
    font-weight:500;
    letter-spacing:0.05em;
    text-transform:uppercase;
    background:#00B98B;
    text-align:center;
    position:relative;
  }*/
  .cta-buttons1{
    display: flex;
    margin-top: 50px;
  }
  .cta-button1 {
    display: inline-block;
    background-color: #DB3544;
    color: #fff;
    text-decoration: none;
    padding: 25px 100px;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 400;
    transition: background-color 0.3s;
    margin-right: 60px;
  }
  .cta-button1:hover {
    background-color: #970010;
  }
  .cta-button1_2 {
    display: flex;
    text-decoration: none;
    font-size: 20px;
    color: #000000;
    font-weight: 400;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .mypoint{
  font-size: 42px;
  color: #970010;
  }
  .mytext-selection{
    font-size: 28px;
    font-weight: 500;
    color: #970010;
    line-height: 42px;
  }
  .hero-main-image img {
    max-width: 494px;
    height: auto;
    margin-left: -80px;
    margin-top: 90px;
  }
  
  /* Услуги */
  .services {
    background-color: #f5f5f5;
    padding: 40px 0;
    text-align: center;
  }
  .services h2 {
    font-size: 24px;
    margin-bottom: 30px;
    color: #333;
    font-weight: 700;
  }
  .service-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .service-item_1,
  .service-item_2,
  .service-item_3,
  .service-item_4,
  .service-item_5,
  .service-item_7,
  .service-item_8,
  .service-item_9,
  .service-item_10,
  .service-item_11,
  .service-item_13,
  .service-item_14,
  .service-item_15,
  .service-item_16,
  .service-item_17,
  .service-item_19,
  .service-item_20,
  .service-item_21,
  .service-item_22,
  .service-item_23,
  .service-item_25,
  .service-item_26,
  .service-item_27{
    text-align: center;
    background-color: #fff;
    min-width: 200px;
    max-width: 200px;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-right: 1px solid;
    border-image: linear-gradient(20deg, rgb(151 0 16), #ffffff, rgb(151 0 16 / 46%), #ffffff) 0.9;
  }
  .service-item_6,
  .service-item_12,
  .service-item_18,
  .service-item_24 {
    text-align: center;
    background-color: #fff;
    min-width: 196px;
    max-width: 196px;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .service-item img {
    height: 50px;
    margin-bottom: 5px;
  }
  .service-text{
    font-size: 16px;
    font-weight: 500;
  }
  
  .services-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  }
  .services-container h2 {
    font-size: 32px;
    font-weight: 700;
    color: #333;
    margin-bottom: 40px;
  }
  .services-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
  .cta-buttons2{
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    margin-top: 60px;
    justify-content: center;
  }
  .cta-button2 {
    display: inline-block;
    background-color: #DB3544;
    color: #fff;
    text-decoration: none;
    padding: 25px;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 400;
    transition: background-color 0.3s;
    margin-right: 60px;
  }
  .cta-button2:hover {
    background-color: #970010;
  }
  
  /* Оффер */
  .offer{
    margin-top: 90px !important;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
  }
  .second-offer{
    display: flex;
    margin: 0 auto;
    max-width: 880px;
    flex-direction: column;
  }
  .title-second-offer{
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 20px 0;
  }
  .description-second-offer{
    font-size: 30px;
    font-weight: 500;
    margin: 20px 0 20px 0;
  }
  .cool-ofer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(img/Mask-group.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1200px;
    min-width: 1200px;
    padding: 140px 0 90px 0;
    margin-top: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  .cta-button-offer{
    background: #970010;
    font-weight: 500;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 15px;
    font-size: 18px;
    line-height: 40px;
    padding: 12px 20px;
    display: inline-block;
    transform: skew(-15deg);
    margin: 0 auto;
  }
  .text-upperc{
    text-transform: uppercase;
  }
  .cta-button3 {
    display: inline-block;
    background-color: #000000;
    color: #fff;
    text-decoration: none;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 400;
    transition: background-color 0.3s;
    margin: 40px auto 0;
  }
  .cta-button3:hover {
    background-color: #181717;
  }
  
  /* Преимущества */
  
  .advantages-offer{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 880px;
    font-size: 40px;  
  }
  .title-advantages-offer{
    font-size: 40px;
    font-weight: 700;
    margin: 0;
    padding-top: 90px;
  }
  .description-advantages-offer{
    font-size: 30px;
    font-weight: 400;
    margin: 0;
    padding-top: 30px;
  }
  .advantages-items{
    padding-top: 80px;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 400;
  }
  .advantages-item_1,
  .advantages-item_2,
  .advantages-item_3{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cta-buttons5{
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    margin-top: 80px;
    justify-content: center;
  }
  .cta-button5{
    display: inline-block;
    background-color: #DB3544;
    color: #fff;
    text-decoration: none;
    padding: 25px 100px;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 400;
    transition: background-color 0.3s;
    margin-right: 60px;
  }
  .cta-button5:hover {
    background-color: #970010;
  }
  
  /* Партнеры */
  .partners{
    padding-top: 90px;
  }
  
  
  .logo-parters_1{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
  }
  .partner-item{
    max-width: 260px;
    height: auto;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 40px;
    border-radius: 10px;
  }
  .logo-parters_2{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 20px;
    max-width: 1200px;
    margin: 0 0;
    justify-content: start;
    padding-top: 20px;
  }
  
  /* Слайдер */
  .offer-slider{
    padding-top: 80px;
    padding-bottom: 60px;
  }
  .cool-offer-slider_1{
    position: absolute;
    z-index: 999;
    top: 20%;
    left: 40px;
  }
  .cool-offer-slider_2{
    position: absolute;
    z-index: 999;
    top: 20%;
    right: 40px;
  }
  
  .sim-slider {
    max-width: 1200px;
    min-width: 320px;
    margin: 0 auto;
  }
  .sim-slider-list img{
    width: 1200px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  
  }
  
  /* General styles */
  .sim-slider {
    position: relative;
  }
  
  .sim-slider-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
  }
  
  .sim-slider-element {
    width: 100%;
    transition: opacity 1s ease-in;
    opacity: 0;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    display: block;
  }
  
  /* Navigation item styles */
  div.sim-slider-arrow-left,
  div.sim-slider-arrow-right {
    width: 50px;
    height: 50px;
    position: absolute;
    cursor: pointer;
    opacity: 0.6;
    z-index: 4;
  }
  
  div.sim-slider-arrow-left {
    left: -20px;
    top: 50%;
    display: block;
    background: url("img/ar-right.svg") no-repeat;
  }
  
  div.sim-slider-arrow-right {
    right: -20px;
    top: 50%;
    display: block;
    background: url("img/ar-left.svg") no-repeat;
  }
  
  div.sim-slider-arrow-left:hover {
    opacity: 1.0;
  }
  
  div.sim-slider-arrow-right:hover {
    opacity: 1.0;
  }
  
  div.sim-slider-dots {
    display: none;
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 3;
    text-align: center;
  }
  
  span.sim-dot {
    display: none;
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    padding: 0;
    display: inline-block;
    background-color: #BBB;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Услуги */
  
  .services-supply-section {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
  }
  .services-supply-container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    justify-content: center;
  }
  .services-supply-item {
    display: flex;
    width: 580px;
    padding: 0px 0 0 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: space-between;
  }
  
  .services-supply-item h3 {
    font-size: 20px;
    font-weight: 700;
    color: #333;
    margin-bottom: 10px;
  }
  .services-supply-item p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
  }
  .services-supply-button {
    display: inline-block;
    background-color: #DB3544;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    transition: background-color 0.3s;
  }
  .services-supply-button:hover {
    background-color: #970010;
  }
  .cta-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .services-supply-buttons .cta-button {
    margin: 0 5px;
  }
  /*Услуги доставки*/
  
  .advantages-service-offer{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 880px;
    font-size: 40px;  
  }
  
  /*Слайдер доставки*/
  .offer-slider_2{
    padding-top: 80px;
  }
  
  .sim-slider_2 {
    max-width: 1200px;
    min-width: 320px;
    margin: 0 auto;
  }
  .sim-slider_2-list img{
    width: 1200px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  
  }
  
  /* General styles */
  .sim-slider_2 {
    position: relative;
  }
  
  .sim-slider_2-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
  }
  
  .sim-slider_2-element {
    width: 100%;
    transition: opacity 1s ease-in;
    opacity: 1;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    display: block;
  }
  
  /* Navigation item styles */
  div.sim-slider_2-arrow-left,
  div.sim-slider_2-arrow-right {
    width: 50px;
    height: 50px;
    position: absolute;
    cursor: pointer;
    opacity: 0.6;
    z-index: 4;
  }
  
  div.sim-slider_2-arrow-left {
    left: -20px;
    top: 50%;
    display: block;
    background: url("img/ar-right.svg") no-repeat;
  }
  
  div.sim-slider_2-arrow-right {
    right: -20px;
    top: 50%;
    display: block;
    background: url("img/ar-left.svg") no-repeat;
  }
  
  div.sim-slider_2-arrow-left:hover {
    opacity: 1.0;
  }
  
  div.sim-slider_2-arrow-right:hover {
    opacity: 1.0;
  }
  .cool-offer-slider_3{
    position: absolute;
    z-index: 999;
    top: 20%;
    left: 40px;
  }
  .cool-offer-slider_4{
    position: absolute;
    z-index: 999;
    top: 20%;
    right: 40px;
  }
  
  /* Отзывы*/
  
  .title-our-reviews{
    display: flex;
    margin: 0 auto;
    font-size: 40px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
    padding-bottom: 60px;
  }
  
  /* табы*/
  
  .tabs-container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .tabs {
  display: flex;
  flex-direction: column;
  
  }
  
  .tabs__links {
  display: flex;
  overflow: hidden;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  order: 0;
  gap: 10px;
  }
  
  .tabs__links > a {
    display: inline-block;
    text-decoration: none;
    padding: 15px 40px;
    text-align: center;
    color: #000;
    font-size: 20px;
    flex: 0 1 33.333%;
    border: 1px solid #970010;
    border-radius: 10px;
  
  }
  
  .tabs__links > a:hover {
  background-color: #970010;
    color: #fff;
  }
  
  .tabs > #tab-1:target ~ .tabs__links > a[href="#tab-1"],
  .tabs > #tab-2:target ~ .tabs__links > a[href="#tab-2"],
  .tabs > #tab-3:target ~ .tabs__links > a[href="#tab-3"] {
    background-color: #970010;
    color: #fff;
  cursor: pointer;
  }
  
  
  .tabs > div:not(.tabs__links) {
  display: none;
  order: 1;
  }
  
  .tabs > div:target {
  display: block;
  }
  
  /* Отзывы */
  .prev-btn{
    background-image: url(img/ar-left.svg);
  }
  .next-btn{
    background-image: url(img/ar-right.svg);
  }
  .home-demo_2{
    display: flex;
      width: 1200px;
      justify-content: center;
      margin: 0 auto;
  }
  .home-demo .item {
    margin-top: 40px;
    background: #ff3f4d;
  }
  
  .home-demo_2 .item {
    margin-top: 40px;
    background: #ff3f4d;
  }
  
  .home-demo h2 {
    color: #FFF;
    text-align: center;
    padding: 5rem 0;
    margin: 0;
    font-style: italic;
    font-weight: 300;
  }
  .home-demo_2 h2 {
    color: #FFF;
    text-align: center;
    padding: 5rem 0;
    margin: 0;
    font-style: italic;
    font-weight: 300;
  }
  .item{
    border-radius: 10px;
  }
  .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
    background: #DB3544;
    border: 1px solid;
    border-radius: 100px;
    padding: 10px 18px;
  }
  
  /*В цифрах*/
  
  .picture-number{
    margin: 0 auto;
    display: flex;
    padding-top: 70px;
    width: 1200px;
  }
  .benefits {
    width: 100%;
  }
  
  .benefits__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 0;
  }
  
  
  
  .benefits__element {
    width: 32%;
  }
  
  .benefits-line{
  height: 2px;
  background-color: #970010;
  width: 90%;
  }
  .benefits-line_2{
    height: 2px;
  background-color: #970010;
  width: 100%;
  }
  .benefits-span{
    font-size: 36px;
  }
  
  .benefits__element p {
    text-align: center;
    line-height: 1.3;
  }
  
  .benefits__number {
    font-size: 44px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #970010;
  }
  
  .benefits__title {
    font-size: 24px;
  }
  .director{
    display: flex;
    width: 1200px;
    margin: 80px auto;
    justify-content: space-between;
  }
  .director-item{
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  }
  .director-buttons{
    display: block;
    position: absolute;
    padding-left: 450px;
    padding-top: 450px;
  }
  .director-button_1 {
    background: #970010;
      font-weight: 500;
      color: white;
      text-align: center;
      text-decoration: none;
      border: 2px solid #970010;
      border-radius: 15px;
      font-size: 18px;
      line-height: 40px;
      padding: 12px 20px;
      display: inline-block;
      transform: skew(-15deg);
      display: flex;
      justify-content: center;
  }
  .director-button_2{
    background: #ffffff;
      font-weight: 500;
      color: #970010;
      text-align: center;
      text-decoration: none;
      border-radius: 15px;
      font-size: 18px;
      line-height: 20px;
      padding: 12px 20px;
      display: inline-block;
      transform: skew(-15deg);
      display: flex;
      justify-content: center;
  }
  .director-logo{
  margin-right: 10px;
  }
  
  /* Блог */
  
  .our-blog-offer{
    display: flex;
    margin: 0 auto;
    width: 880px;
    flex-direction: column;
  }
  .title-our-blog-offer{
    font-size: 40px;
      font-weight: 700;
      margin: 0px;
      padding-top: 60px;
  }
  .description-our-blog-offer{
    font-size: 30px;
    font-weight: 400;
    margin: 0px;
    padding-top: 30px;
  }
  
  /*Контакты*/
  .title-our-contact-offer{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 40px;
  }
  
  .social-contact{
    display: flex;
    justify-content: space-evenly;
    width: 600px;
    height: 60px;
    margin: 0 auto;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 20px;
  }
  .odnok{
    width: 200px;
  }
  .whatsapp,
  .vk,
  .tg {
    width: 50px;
  }
  .contacts-adress{
    display: flex;
    width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    padding-top: 80px;
    font-size: 24px;
  }
  
  .last-forms-offer{
    display: flex;
    width: 850px;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
  }
  .title-last-forms-offer{
    font-size: 40px;
    font-weight: 700;
    padding-top: 80px;
  }
  .description-last-forms-offer{
    font-size: 30px;
    padding: 0;
    margin: 0;
  }
  .clients-partners-forms{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 1200px;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 40px;
  }
  .client-form,
  .client-form_2{
    width: 540px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  }
  .client-form{
    background-image: url(img/heart.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    border-radius: 10px;
    padding: 30px;
    width: 520px;
  
  }
  .client-form_2{
    background-image: url(img/Mask-logopng.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    border-radius: 10px;
    padding: 30px;
    width: 520px;
  
  }
  .client-form-offer{
    font-size: 24px;
    color: black;
    padding: 0;
    margin: 0;
    
  }
  .name,
  .text {
    display: block;
    font-size: 1rem;
    margin: 1rem 0 0.5rem 0;
  }
  
  .input-box input {
    width: 200px;
    height: 50px;
    margin-bottom: 15px;
    padding: 0 0 0 10px;
    border: 1px solid #970010;
    border-radius: 10px;
  }
  
  
  
  .btn-forms-client {
    width: 210px;
    padding: 20px 60px;
    color: #fff;
    font-weight: 600;
    background-color: #970010;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 16px;
  }
  
  .btn:hover {
    background-color: #970010;
  }
  
  .footer-wrapper{
    background-color: #fafafa;
    margin-top: 80px;
  }
  .footer-content{
    display: flex;
    width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    padding-top: 80px;
  }
  .logo-footer{
    width: 200px;
  }
  .footer-search{
    border: 1px solid #970010;
      border-radius: 10px;
      padding: 10px;
  }
  .social-contact_2{
    display: flex;
    justify-content: space-evenly;
    width: 200px;
    height: 60px;
    padding-top: 20px;
  }
  .odnok_2{
    width: 100px;
  }
  .whatsapp_2,
  .vk_2,
  .tg_2 {
    width: 25px;
  }
  .dropdown {
    position: relative;
    width: 200px;
    height: 50px;
  }
  
  .dropdown::before {
    content: "";
    position: absolute;
    top: 5px;
    right: 50px;
    z-index: 1000;
    width: 6px;
    height: 6px;
    border: 1px solid #000;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: rotate(-45deg);
    transition: 0.5s;
    pointer-events: none;
  }
  
  .dropdown.active::before {
    top: 10px;
    transform: rotate(-225deg);
  }
  
  .dropdown input {
    position: relative;
    width: 200px;
    cursor: pointer;
    background: #fafafa;
    font-size: 16px;
    border: none;
    outline: none;
  }
  
  .dropdown .options {
    position: absolute;
    top: 40px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: none;
  }
  
  .dropdown.active .options {
    display: block;
  }
  
  
  .dropdown .options div {
    padding: 12px 20px;
    cursor: pointer;
  }
  
  .dropdown .options div:hover {
    background: #62baea;
    color: #fff;
  }
  .footer-menu_2,
  .footer-menu_4{
  width: 160px;
  }
  .footer-line{
    opacity: 0.5;
  }
  .politica-block {
    display: flex;
    justify-content: center;
    gap: 60px;
    align-items: center;
  }
  .mynumber{
    text-decoration: none;
    color: #869791;
  }